@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Sen", sans-serif;
}

svg {
	position: relative;

	width: 150px;
	height: 150px;

	z-index: 1000;
}

svg circle {
	width: 100%;
	height: 100%;

	fill: none;
	stroke: rgba(49,43,49,.1);
	stroke-width: 10;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;

	transition: 1s;
}

svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * 10) / 100);
}

.card:hover svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.html-card svg circle:nth-child(2) {
	stroke: #EE6535;
}

.css-card svg circle:nth-child(2) {
	stroke: #399AD6;
}

.js-card svg circle:nth-child(2) {
	stroke: #F7DF1E;
}

.container {
	position: relative;
}

.card {
	position: relative;
	background-color: rgba(49,43,49,.05);

	display: flex;
	justify-content: center;
	align-items: center;

	width: 300px;
	height: 400px;

	transition: 0.3s ease;

	border-bottom: 5px solid rgba(49,43,43, 0.2);
}

.card:hover {
	transform: scale(1.2);
}

.percent {
	position: relative;

}

.number {
	position: absolute;
	left: 0;
	right: 0;

	left: calc(50% - 15px);
	top: calc(50% - 29px);

}

.title p {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 30px;
}